<div class="container" style="border-bottom: 0px; height: 50px;margin-top: 0px;">
    <div class="row">
        <!-- input search -->
        <div class="input-group col-md-7">
            <div class="input-group-btn">
                <button class="btn btn-default searchBtn" (click)="searchDepart(keyw)">
                    <i class="fas fa-search "></i>
                </button>
            </div>
            <input placeholder=" Search..." [(ngModel)]="keyw" (keyup.enter)="searchDepart(keyw)">
        </div>
        <!-- page size -->
        <mat-select class="col-md-2" [(value)]="pageSize" placeholder="Show:">
            <mat-option value=3 (click)="changePageSize()">
                3
            </mat-option>
            <mat-option value=5 (click)="changePageSize()">
                5
            </mat-option>
        </mat-select>
        <!-- button add -->
        <div>
            <button class="btn btn-default addBtn" (click)="openDialog()">
                <span>ADD </span>
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
</div>

<div class="table">
    <!-- column header -->
    <div class="container" style="color: #F44336; font-size: 25px">
        <div class="row">
            <div class="col-md-1">CODE</div>
            <div class="col-md-2">NAME</div>
            <div class="col-md-3">ADDRESS</div>
            <div class="col-md-2">PHONE</div>
            <div class="col-md-2 settingIcon">
                <i class="fas fa-cog"></i>
            </div>
        </div>
    </div>
    <!-- column data -->
    <div class="container main" *ngFor="let department of departments">
        <div class="row">
            <div class="col-md-1">{{ department.Id }}</div>
            <div class="col-md-2">{{ department.Name | uppercase }}</div>
            <div class="col-md-3">{{ department.Address }}</div>
            <div class="col-md-2">{{ department.PhoneNumber }}</div>
            <!-- edit and delete button -->
            <div class="col-md-2 action">
                <button class="editBtn btn btn-default" (click)='getByIdDepartment(department)' data-toggle="modal" data-target="#myEditModal"
                    style="max-width: 90px;">
                    <i class="fas fa-edit"></i>
                </button>
                <div id="myEditModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Edit Department Informations</h4>
                            </div>
                            <div class="modal-body">
                                <p class="row">
                                    <span class="col-md-3">Code:</span>
                                    <input class="col-md-8" type="text">
                                </p>
                                <p class="row">
                                    <span class="col-md-3">Name:</span>
                                    <input class="col-md-8" type="text">
                                </p>
                                <p class="row">
                                    <span class="col-md-3">Address:</span>
                                    <input class="col-md-8" type="text">
                                </p>
                                <p class="row">
                                    <span class="col-md-3">Open Day:</span>
                                    <input class="col-md-8" type="date">
                                </p>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Confirm</button>
                                <button type="button" class="closeBtn btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- delete button -->
                <button class="delBtn btn btn-default" data-toggle="modal" data-target="#myDelModal" style="max-width: 90px;">
                    <i class="fas fa-trash-alt"></i>
                </button>
                <!-- delete modal -->
                <div id="myDelModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Delete Branch</h4>
                            </div>
                            <div class="modal-body">
                                <p>
                                    Are you sure you want to delete this branch?
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" (click)='delDepartment(department)' data-dismiss="modal">Confirm</button>
                                <button type="button" class="closeBtn btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <button (click)="changePage(page = page - 1)" [(ngModel)]="page" class="pageBtn btn btn-default">Back</button>
    <button (click)="changePage(page = page + 1)" [(ngModel)]="page" class="pageBtn btn btn-default">Next</button> -->
</div>